.headerBFC {
    background-color: #E90000;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #000;
    color: #fff;
    font-size: 20px;
}

.headerBFC .container {
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    width: 90%;
}

.bannerBFC {
    background-image: url(./banners/campnou.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    width: 100%;
    height: 540px;
    margin-bottom: 163px;
}

.bannerBFC img{
    margin-top: 10%;
    width: 247px;
    height: 270px;
}

.imgJUV {
    width: 20px;
    height: 100px;
}

.imgRM {
    margin-top: -24px;
}