@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

a{
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.header {
    background-color: #027306;
    ;
    padding: 15px;
    border-bottom: 1px solid #000;
}

.header .container {
    justify-content:space-between;
}

.logo {
    display: flex;
    width: 340px;
    justify-content: space-evenly;
}

.logo .logoWS {
    width: 80px;
}

.header a {
    padding-bottom: 3px;
    text-decoration: none;
    color: white;
}

.header a:hover {
    border-bottom: 3px solid white;
}

.agora {
    padding-bottom: 3px;
    font-weight: 800;
    border-bottom: 3px solid white;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}


.titulo {
    color: white;
    width: fit-content;
    font-weight: 400;
}

/* banner */

.banner {
    height: 556px;
    padding-left: 24%;
    padding-top: 10%;
    background-repeat: no-repeat;
}

.banner .caixaParagrafo {
    background-color: rgba(27, 27, 27, 0.5);
    border-radius: 60px;
    width: 500px;
    height: 245px;
    text-align: center;
}

.banner .caixaParagrafo p {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    padding-top: 25px;
}

/* cards */

.divCards {
    height: 666px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card {
    width: 411px;
    height: 532px;
    border-radius: 90px;
    background-color: rgba(60, 187, 0, 0.5);
    position: relative;
}

.card .conteudoCard {
    padding-top: 55px;
    padding-left: 113px;
    width: 45%;
}

.card img {
    width: 153px;
}

.card p {
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    color: rgb(14, 54, 0);
}

/* footer */

.footer {
    width: 100%;
    height: 218px;
    background-color: rgba(2, 115, 6, 1);
}

.footerInfo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footerInfo h5 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.footerInfo ul {
    list-style: none;
    line-height: 1.7;
    padding-left: 0;
}

.footerInfo a {
    color: #d2d1d1;
}

.footerInfo a:hover {
    color: white;
}

.footerCopy {
    width: 100%;
    height: 80px;
    background-color: rgba(6, 58, 1, 1);
    text-align: center;
}

.footerCopy p {
    color: #fff;
    margin: 0;
    padding-top: 30px;
}